- content_for :head do
  = tag('meta', { name: 'turbolinks-cache-control', content: 'no-cache' }, true)

.link-editor
  = simple_form_for link do |f|
    .form-inputs
      = f.input :title, autofocus: true
      = f.input :url, input_html: { class: 'url-for-preview' }
      = f.input :author_id, as: :hidden, input_html: { value: current_user.id } if user_signed_in?
      .url-preview
        - if link.preview
          = render 'preview', preview: OpenStruct.new(link.preview.merge(images: link.preview['images'] || [], videos: link.preview['videos'] || []))
      ul#tag-list-input name=('link[tag_list]')
        - link.tag_list.each do |tag|
          li= tag
    .form-actions
      = f.button :submit, 'Save', class: 'submit-link'

coffee:
  $(document).on 'input', '.url-for-preview', (e) ->
    if window.ajax
      window.ajax.abort()
    clearTimeout window.timer
    window.timer = setTimeout((->
      window.ajax = $.ajax(
        url: '/links/load_preview'
        type: 'GET'
        data: 
          url: $(e.target).val()
        beforeSend: ->
          $('.button.submit-link').prop('disabled', true)
      ).success (data) ->
        if (data['status'] == 'fail')
          $('.button.submit-link').prop('disabled', false)
        else
          $('.url-for-preview').blur()
    ), 500)
  
  $('#tag-list-input').tagit
    removeConfirmation: true
    caseSensitive: false
    fieldName: 'link[tag_list][]'
    autocomplete:
      source: (search, showChoices) ->
        that = this
        if ajaxTags && ajaxTags.readyState != 4
          ajaxTags.abort()
        ajaxTags = $.ajax
          url: '/tags'
          data: query: search.term
          success: (choices) ->
            showChoices that._subtractArray(choices, that.assignedTags())
      delay: 300
      minLength: 2
