.card {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 $shadow;
  margin: 0 0 6rem;
  transition: .3s;

  &:hover {
    box-shadow: 0 8px 16px 0 $shadow;
  }

  .preview-image {
    box-shadow: 0 4px 8px 0 $shadow;
    max-width: 100%;
  }

  .card-content,
  .card-title {
    padding: 2.2rem 1.6rem 0;
  }

  .card-header {
    border-bottom: 1px solid #eee;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: .2rem;
    padding: 0 0 1.6rem 0;
    text-transform: uppercase;

    img {
      border-radius: 5px 5px 0 0;
    }
  }

  .card-footer {
    border-top: 1px solid #eee;
    padding: 1.6rem 1.6rem 0;
  }
}
