.docs-section + .docs-section {
  border-top: 1px solid #eee;
}

.docs-section {
  margin-bottom: 0;
  padding: 4rem 0;

  .docs-header {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: .2rem;
    text-transform: uppercase;
  }
}
