.flash.alert {
    background-color: rgba(255, 255, 255, 0.9);
  	color: #555;
  	border-radius: 10px;
  	padding: 12px 36px 10px;
  	margin: 10px;
    font-size: 12px;

    > .element {
      display: table-cell;
      width: 100%;
      vertical-align: middle;
    }

    span {
      font-weight: bold;
  		text-transform: uppercase;
    }

    &.alert-error {
      @include thin-border(#f5aca6);
    }

    &.alert-success {
      @include thin-border(#a6ca8a);
    }

    &.alert-alert {
      @include thin-border(#f2c779);
    }

    &.alert-notice {
      @include thin-border(#8ed9f6);
    }
}

.flash-close {
  color: $understatement-color;
}
