ul.tagit {
  @include thin-border(#d1d1d1);
  overflow: auto;
  padding: 1px 5px;

  &.focused {
    @include thin-border(#33c3f0);
    outline: 0;
  }

  input[type="text"] {
    background-color: inherit;
    border: 0;
    box-shadow: none;
    box-sizing: border-box;
    height: 30px;
    margin: 0;
    margin-left: 6px;
    outline: none;
    padding: 0;
    text-transform: lowercase;
    width: inherit;
  }

  li {
    display: block;
    float: left;
    margin: 2px 5px 2px 0;
  }

  li.tagit-choice {
    background-color: #5bc0de;
    border-radius: .25em;
    color: #fff;
    display: inline;
    color: #fff;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    margin-top: 6px;
    padding: .2em .6em .3em;
    text-align: center;
    text-transform: lowercase;
    vertical-align: baseline;
    white-space: nowrap;

    &.remove.ui-state-highlight {
      background-color: $muted-color;
    }
  }

  li.tagit-choice .tagit-close {
    cursor: pointer;

    .text-icon {
      color: white;
      font-size: 1.5em;
      font-weight: 600;
      margin-left: 8px;
    }

    .ui-icon.ui-icon-close {
      display: none;
    }
  }
}

.ui-corner-all {
  border-radius: 4px;
}

.tagit-autocomplete {
  &.ui-widget-content {
    @include thin-border(#d1d1d1);
    background: #fff 50% 50% repeat-x;
    color: #222;
  }

  &.ui-menu {
    border-radius: 4px;
    display: block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 2px;

    .ui-menu-item {
      float: none;;
      margin: 0;
      padding: 0 .4em;
      zoom: 1;

      &.ui-state-focus {
        background: $active-color;
        color: #fff;
      }
    }
  }

  &.ui-autocomplete {
    cursor: default;
    position: absolute;
  }
}
