.password-reveal {
  float: right;
  margin-top: -3.2em;
  position: relative;
  right: .8em;

  label {
    color: $understatement-color;
    font-weight: 400;
  }

  input[type='checkbox'] + label::before {
    margin-right: .5em;
  }
}
