.navbar,
.navbar-spacer {
  background: #fff;
  border-bottom: 1px solid $border-color;
  border-top: 1px solid $border-color;
  display: block;
  height: 6.5rem;
  top: .5em;
  width: 100%;
  z-index: 99;
}

.navbar {
  position: fixed;
  max-width: 960px;

  > .container {
    width: 100%;
    position: absolute;
  }
}

.navbar-list {
  list-style: none;
  margin-bottom: 0;
}

.navbar-item {
  float: left;
  margin-bottom: 0;
  position: relative;
}

.navbar-link {
  color: $understatement-color;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  line-height: 6.5rem;
  margin-right: 35px;
  text-decoration: none;
  text-transform: uppercase;
}
